<script>
var listeningRadius=<%=listeningRadius%>;
//from the MDC
function ISODateString(d) {
  function pad(n){
    return n<10 ? '0'+n : n
      }
  return d.getUTCFullYear()+'-'
    + pad(d.getUTCMonth()+1)+'-'
    + pad(d.getUTCDate())+'T'
    + pad(d.getUTCHours())+':'
    + pad(d.getUTCMinutes())+':'
    + pad(d.getUTCSeconds())+'Z'
    }

var currentGeohash='';
function message(obj){
   $("#messageListing").append($("<tr id='msg-"+obj.id+"' class='msgRow'>"
                                 +"<td class='ghCell'><a href='http://geohash.org/"+obj.geohash+"'>Map</a></td>"
                                 +"<td class='dateCell'><abbr class='timeago' title='"+ISODateString(new Date(obj.timestamp))+"'>"+new Date(obj.timestamp)+"</abbr></td>"
                                 +"<td class='userCell'>"+obj.user+"</td>"
                                 +"<td class='msgCell'>"+obj.message+"</td>"
                                 +"</tr>"));
   $("#msg-"+obj.id+" td abbr").timeago();
}

var socket = new io.Socket(null, {port: 8134, rememberTransport: false});
socket.connect();
socket.on('message', function(obj){
    message(JSON.parse(obj));
});
function unsubscribeFromAll() {
  socket.send(JSON.stringify({action: "unsubscribe-all"}));
}
function subscribeToGeoHash(geohash) {
  socket.send(JSON.stringify({action: "subscribe", geohash: geohash}));
}

$(document).ready(function() {
  $('abbr.timeago').timeago();
  $("#currentLocation").text("Trying to determine location...");
  updateRadiusListView(listeningRadius);
  // Request a position, no more than 10 minutes old
  navigator.geolocation.getCurrentPosition(successCallback,
                                           errorCallback,
                                           {maximumAge:600000});

  function successCallback(position) {
    //$("#currentLocation").text("found location: ("+position.coords.latitude+","+position.coords.longitude+")");
    $("#currentLocation").text("");
    // Convert to GeoHash
    currentGeohash = encodeGeoHash(position.coords.latitude,position.coords.longitude);
    $("#geohash").val(currentGeohash);
    $("#messageSubmit").removeAttr('disabled');
    // Subscribe to this area
    setListeningRadius(listeningRadius);
    //    subscribeToGeoHash(currentGeohash.substring(0,listeningRadius));
    retrieveMessageHistory(currentGeohash);
  }

  function errorCallback(error) {
    // Update a div element with error.message.
    $("#currentLocation").text("Error determining position: "+error.message);
  }

  $("#messageForm").submit(function(event) {
    event.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    $.post(url, {username: $('#username').val(),
           message: $('#message').val(),
           geohash: $('#geohash').val()});
  });

  function retrieveMessageHistory(geohash) {
    // get list of messages for this box
    $.get("/messages/"+geohash.substring(0,listeningRadius), function(data) {
        var messages = JSON.parse(data);
        for(var i = 0; i < messages.length; i++) {
          message(messages[i]);
        }
      });
  }
});

function setListeningRadius(size) {
  var prevListeningRadius=listeningRadius;
  listeningRadius=size;
  //unsubscribe to geohash channels
  unsubscribeFromAll();
  // find adjacent geohashes
  var all_adj = findAllAdjGeohashes(currentGeohash.substring(0,listeningRadius));
  // subscribe to current and surrounding hashes
  for (var i = 0; i < all_adj.length; i++) {
    subscribeToGeoHash(all_adj[i]);
  }
  //set radius as the client default
  if (prevListeningRadius!=listeningRadius) {
    $.post("/user/defaultradius/"+size);
  }
}

function findAllAdjGeohashes(geohash) {
  var all_adj = [];
  all_adj.push(geohash);
  all_adj.push(calculateAdjacent(geohash,'top'));
  all_adj.push(calculateAdjacent(geohash,'bottom'));
  all_adj.push(calculateAdjacent(geohash,'right'));
  all_adj.push(calculateAdjacent(geohash,'left'));
  all_adj.push(calculateAdjacent(calculateAdjacent(geohash,'left'), 'top'));
  all_adj.push(calculateAdjacent(calculateAdjacent(geohash,'right'), 'top'));
  all_adj.push(calculateAdjacent(calculateAdjacent(geohash,'left'), 'bottom'));
  all_adj.push(calculateAdjacent(calculateAdjacent(geohash,'right'), 'bottom'));
  return all_adj;
}

function updateRadiusListView(size) {
  $("#radiusList li").removeClass("activeRadius");
  $("#radius-select-"+size).addClass("activeRadius");
}
</script>

<div id="header-container" class="container">
  <div class="span-8">
    <h1 id="header">Kumquat</h1>
  </div>
  <div class="span-16 last">
    <div class="span-4">
      <h2 id="subheader">Listening Radius: </h1>
    </div>
    <div class="span-12 last">
      <ul id="radiusList">
        <li id="radius-select-7" class="activeRadius"><a href="#" onClick="setListeningRadius(7);updateRadiusListView('7')">Kumquat</a></li>
        <li id="radius-select-6"><a href="#" onClick="setListeningRadius(6);updateRadiusListView('6')">Tangerine</a></li>
        <li id="radius-select-5"><a href="#" onClick="setListeningRadius(5);updateRadiusListView('5')">Orange</a></li>
        <li id="radius-select-4"><a href="#" onClick="setListeningRadius(4);updateRadiusListView('4')">Grapefruit</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">

<div class="span-24 last" id="currentLocation"></div>

<form id="messageForm" action="/messages" method="post">
<div class="span-24 last" id="nickNameSelection">
  <label class="span-2" for="username">Nickname: </label>
  <input class="span-4 append-16 last" id="username" type="text" name="username" /> <br />
</div>
  <input id="geohash" type="hidden" name="geohash" />
<div class="span-24 last" id="messageSelection">
  <label class="span-2" for="message">Message: </label>
  <input class="span-16" id="message" type="text" size="80" name="message" />
  <div class="span-6 last">
  <input id="messageSubmit" disabled type="submit" />
  </div>
</div>
</form>
<br />

</div>
<div class="container">
  <div class="span-18 append-6 last">
    <table id="messageListingHeaders">
      <tr><th>GeoHash</th><th>Timestamp</th><th>User</th><th>Message</th></tr>
    </table>
  </div>
  <div id="scrollbox" class="span-18 append-6 last">
    <table id="messageListing">
    </table>
  </div>
</div>
<div class="container" id="footer">
  <div class="prepend-8 span-8 append-8 last">
  <p>Copyright © 2011 <a href="mailto:scsibug@imap.cc">Greg Heartsfield</a></p>
  </div>
</div>
