<div id="header-container" class="container">
<div class="span-8">
   <h1 id="header">Kumquat</h1>
</div>
<div class="span-16 last">
   <h2 id="subheader">Location Aware Chat</h1>
</div>
</div>
<div class="container">
<script>

function message(obj){
   $("#messageListing").append($("<tr class='msgRow'>"
                                 +"<td class='ghCell'><a href='http://geohash.org/"+obj.geohash+"'>Map</a></td>"
                                 +"<td class='dateCell'>"+new Date(obj.timestamp)+"</td>"
                                 +"<td class='userCell'>"+obj.user+"</td>"
                                 +"<td class='msgCell'>"+obj.message+"</td>"
                                 +"</tr>"));
}

var socket = new io.Socket(null, {port: 8134, rememberTransport: false});
socket.connect();
socket.on('message', function(obj){
    message(JSON.parse(obj));
});

function subscribeToGeoHash(geohash) {
  socket.send(JSON.stringify({action: "subscribe", geohash: geohash.substring(0,4)}));
}

$(document).ready(function() {
  $("#currentLocation").text("Trying to determine location...");
  // Request a position, no more than 10 minutes old
  navigator.geolocation.getCurrentPosition(successCallback,
                                           errorCallback,
                                           {maximumAge:600000});

  function successCallback(position) {
    // By using the 'maximumAge' option above, the position
    // object is guaranteed to be at most 10 minutes old.
    //$("#currentLocation").text("found location: ("+position.coords.latitude+","+position.coords.longitude+")");
    $("#currentLocation").text("");
    // Convert to GeoHash
    var gh = encodeGeoHash(position.coords.latitude,position.coords.longitude);
    $("#geohash").val(gh);
    $("#messageSubmit").removeAttr('disabled');
    // Subscribe to this area
    subscribeToGeoHash(gh);
    retrieveMessageHistory(gh);
  }

  function errorCallback(error) {
    // Update a div element with error.message.
    $("#currentLocation").text("Error determining position: "+error.message);
  }

  $("#messageForm").submit(function(event) {
    event.preventDefault();
    var form = $(this);
    var url = form.attr('action');
    $.post(url, {username: $('#username').val(),
           message: $('#message').val(),
           geohash: $('#geohash').val()});
  });

  function retrieveMessageHistory(geohash) {
    // get list of messages for this box
    $.get("/messages/"+geohash.substring(0,4), function(data) {
        var messages = JSON.parse(data);
        for(var i = 0; i < messages.length; i++) {
          message(messages[i]);
        }
      });
  }

});
</script>
<div class="span-24 last" id="currentLocation"></div>

<form id="messageForm" action="/messages" method="post">
<div class="span-24 last" id="nickNameSelection">
  <label class="span-2" for="username">Nickname: </label>
  <input class="span-4 append-16 last" id="username" type="text" name="username" /> <br />
</div>
  <input id="geohash" type="hidden" name="geohash" />
<div class="span-24 last" id="messageSelection">
  <label class="span-2" for="message">Message: </label>
  <input class="span-16" id="message" type="text" size="80" name="message" />
  <div class="span-6 last">
  <input id="messageSubmit" disabled type="submit" />
  </div>
</div>
</form>
<br />

</div>
<div class="container">
  <div class="span-18 append-6 last">
    <table id="messageListingHeaders">
      <tr><th>GeoHash</th><th>Timestamp</th><th>User</th><th>Message</th></tr>
    </table>
  </div>
  <div id="scrollbox" class="span-18 append-6 last">
    <table id="messageListing">
    </table>
  </div>
</div>
