<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" /> 
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <!--[if lt IE 8]>
      <link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection" />
      <![endif]-->
  <link rel="stylesheet" href="/css/kumquat.css" type="text/css" media="screen, projection">
  <!-- JQuery and plugins -->
  <script src="/js/jquery-1.4.3.min.js"></script>
  <script src="/js/jquery.metadata.js"></script>
  <script src="/js/jquery.timeago.js"></script>
  <script src="/js/geohash.js"></script>
  <script src="/js/excanvas.js"></script>
  <script src="/js/identicon.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
  <script src="http://cdn.socket.io/stable/socket.io.js"></script>
  </head>
  <body>
    <a href="http://github.com/scsibug/kumquat"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
    <%- body %>
  </body>
</html>
