body
{
}

#header
{
  background: #F09E0A;
  color: #FFF;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#F0C000), to(#F57500));
  background: -moz-linear-gradient(top, #F0C000, #F57500);
  moz-border-radius: 0px 10px 10px 10px;
  border-radius:  0px 10px 0px 10px;
  font-size: 5em;
}

#subheader
{
}

#header-container
{ 
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#scrollbox
{
  overflow: auto;
  height: 400px;
  resize: vertical;
}

#radiusList
{ 
  list-style: none;
/*  color: #F09E0A; */
}

.activeRadius :link, .activeRadius :visited
{ 
  font-weight: bold;
  color: #F09E0A;
}

#radiusList li a
{
  text-decoration: none;
}

#kumquat-select
{
  font-size: 1em;
}
#tangerine-select
{
  font-size: 1.1em;
}
#orange-select
{
  font-size: 1.2em;
}
#grapefruit-select
{
  font-size: 1.3em;
}
