body
{
  /* background: #809A5A; */ /* green */
/*  background: #fff url(/images/bg_repeat_2x140.png) repeat-x; */
}

#header
{
  background: 000;
  font-size: 5em;
}

#subheader
{
}

#header-container
{ 
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#scrollbox
{
  overflow: auto;
  height: 300px;
  resize: vertical;
}

#radiusList
{ 
  list-style: none;
/*  color: #F09E0A; */
}

.activeRadius :link, .activeRadius :visited
{ 
  font-weight: bold;
  color: #F09E0A;
}

#radiusList li a
{
  text-decoration: none;
}

#kumquat-select
{
  font-size: 1em;
}
#tangerine-select
{
  font-size: 1.1em;
}
#orange-select
{
  font-size: 1.2em;
}
#grapefruit-select
{
  font-size: 1.3em;
}
