body
{
  /* background: #809A5A; */ /* green */
/*  background: #fff url(/images/bg_repeat_2x140.png) repeat-x; */
}

#header
{
  background: 000;
  font-size: 5em;
}

#subheader
{
  color: #F09E0A;
  background: 000;
}

#header-container
{ 
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}